/* Reset properies globally */
* {
    padding: 0;
    margin: 0 auto;
    clear: both;
    background: none;
    font-family: 'Roboto';
    font-size: 0;
    text-align: center;
    line-height: 1;
    list-style: none;
    color: #000;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    border: none;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

/* Reset link properties */
a {
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    &:link {
	color: #fff;
    }
    &:visited {
	color: #fff;
    }
    &:hover {
	color: #fff;
    }
    &:visited {
	color: #fff;
    }
}
p {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: auto;
    & br {
	margin-top: 15px;
	content: " ";
    }
}
h1 {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: bold;
}
h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}
h4 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
}
img {
    height: inherit;
}
i {
    font-size: 20px;
    display: inline-block;
    color: #fff;
}
small {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    & i {
	font-size: 10px;
	margin-left: 2px;
	margin-right: 2px;
    }
}