/* Defining color variables */
$almost_black: #010101;
$white: #fff;
$light_green: #99cc00;
$cyan_little_grey: #6ac274;
$cyan_to_green_little_grey: #55adb1;

/* Defining page colors with variables */
$basic_color: $almost_black;
$alt_color: $white;
$accent_color: $light_green;
$basic_content_backgroud: $cyan_to_green_little_grey;
$accent_content_background: $cyan_little_grey;

/* Styling header tags */
h1 {
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
}
h4 {
    text-transform: uppercase;
}

/* Define layout for every major segment on the page */
@mixin basic_layout() {
    width: 100%;
}

/* Styling the header */
header {
    @include basic_layout();
    height: 56.25vw;
    background: url(../img/header/background.jpg) center top no-repeat;
    background-size: cover;
    color: $alt_color;
}

/* Styling the sticky navbar */
nav {
    @include basic_layout();
    height: 75px;
    background: $basic_color;
    position: fixed;
    top: 0;
    vertical-align: middle;
    z-index: 100;
}

/* Styling logo and elements in it */
#siteLogo {
    padding-top: 17.5px;
    padding-left: 17.5px;
    position: absolute;
    height: 40px;
}

/* Styling main menu */
#mainMenu {
    width: 100%;
    top: 29.5px;
    position: relative;
    display: inline-block;
    & li {
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
    &:hover {
	cursor: pointer;
	}
    }
}

/* Styling "GET TICKETS" button in header */
#getTicketsNav {
    right: 20px;
    position: absolute;
}

/* Styling the page content sections and elements in them */
/* Style first section "Future work" */
@mixin section_buttons() {
    margin: 5px 10px;
    font-size: 14px;
    display: inline-block;
    border: 1px solid $accent_color;
}
#futureWork {
    @include basic_layout();
    display: flex;
    & #futureWorkIcons {
	padding-top: 40px;
	padding-bottom: 40px;
    }
    & #futureWorkParagraph {
	margin: 0 auto;
	max-width: 860px;
    }
    & #futureWorkButtons {
	padding-top: 40px;
	& #joinCommunity {
	    @include section_buttons();
	}
	& #watchTrailer {
	    @include section_buttons();
	}
    }
}

/* Style second section "Mobile App" */
#mobileApp {
    @include basic_layout();
    display: flex;
    background: $basic_content_backgroud; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right top, $accent_content_background, $basic_content_backgroud); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, $accent_content_background, $basic_content_backgroud); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, $accent_content_background, $basic_content_backgroud); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, $accent_content_background, $basic_content_backgroud); /* Standard syntax */
    & #appDownloadImg {
	display: initial;
	margin: auto;
	& #predictiveHire {
	    height: 10%;
	    float: right;
	}
    }
    & #appDownloadText {
	max-width: 640px;
    }
    & #appDownloadButtons {
	    margin-top: 20px;
	& a {
	    height: 40px;
	    display: inline-block;
	    margin: 5px 10px;
	}
    }
    & #tutorials {
	float: none;
	margin: auto;
	vertical-align: middle;
	& #tutorialButton {
	    vertical-align: middle;
	    margin-top: 40px;
	}
    }
}

/* Styling the page footer */
footer {
    @include basic_layout();
    background: $basic_color;
    & #footerContactInfo {
	color: $alt_color;
    }
}

/* Define global classes */
/* Mixin used in global classes */
@mixin two_parallel_boxes_layout() {
    width: 50%;
    display: inline-block;
}
@mixin buttons_layout() {
    height: 40px;
    width: 200px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    &:hover {
	cursor: pointer;
    }
}
/* The global classes */
.text-basic {
    color: $basic_color !important;
}
.text-alt {
    color: $alt_color !important;
}
.text-accent {
    color: $accent_color !important;
}
.alt-text-accent-hover {
    color: $alt_color;
    &:hover {
	color: $accent_color;
    }
}
.accent-button-alt-text-hover {
    @include buttons_layout();
    color: $alt_color;
    background: $accent_color;
    &:hover {
	color: $accent_color;
	background: $alt_color;
    }
}
.alt-button-basic-text-hover {
    @include buttons_layout();
    color: $basic_color;
    background: $alt_color;
    &:hover {
	color: $alt_color;
	background: none;
	border: 1px solid $alt_color;
    }
}
.section-content-wrapper {
    width: 100%;
    padding: 40px 20px;
}
.footer-content-wrapper {
    width: 100%;
    padding: 20px 20px;
}
.section-left-content {
    @include two_parallel_boxes_layout();
    float: left;
    & div {
	right: 0;
    }
}
.section-right-content {
    @include two_parallel_boxes_layout();
    float: right;
}
.align-content-right {
    width: 90%;
    padding-right: 10px;
    float: right;    
}
.align-content-left {
    padding-left: 10px;
    float: left;  
}
.reset-margin {
    margin: 0;
}
.footer-logo {
    height: 30px;
}

/* Define sizes regarding resolutions */
/* Most common 16:9 desktop or laptop */
@media screen and (min-width: 1280px) {
    header {
	height: 56.25vw;
    }
}