/* Defining global color variables */
$almost_black: #010101;
$white: #fff;
$light_green: #99cc00;
$cyan_little_grey: #6ac274;
$cyan_to_green_little_grey: #55adb1;

/* Icon colors */
$eye: #57b1b8;
$gear: #bb6e3d;
$home: $light_green;
$power: #ee2a7b;
$refresh: #809453;
$star: #e41a52;

/* Defining page colors with variables */
$basic_color: $almost_black;
$alt_color: $white;
$accent_color: $light_green;
$basic_content_backgroud: $cyan_to_green_little_grey;
$accent_content_background: $cyan_little_grey;

/* Define mixins */
/* Default layout for every major segment on the page */
@mixin basic_layout() {
    width: 100%;
}
/* Vetical smooth resize */
@mixin vertical_rezise() {
    -moz-transition: height 1s ease-in-out, down 1.5s ease-in-out;
    -webkit-transition: height 1s ease-in-out, down 1.5s ease-in-out;
    -moz-transition: height 1s ease-in-out, down 1.5s ease-in-out;
    -o-transition: height 1s ease-in-out, down 1.5s ease-in-out;
    transition: height 1s ease-in-out, down 1.5s ease-in-out;
}
/* Horizontal smooth resize */
@mixin horizontal_rezise() {
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}
/* Layout of the text on the speakers */
@mixin speakers_layout() {
    position: absolute;
    top: 110%;
    & h2 {
	color: $alt_color;
	font-size: 26px;
	font-weight: bolder;
	text-transform: none;
    }
    & h4 {
	color: $alt_color;
	font-size: 18px;
	font-weight: 200;
	text-transform: none;
    }
}
/* "Future work" section buttons layout */
@mixin section_buttons() {
    margin: 5px 10px;
    font-size: 14px;
    display: inline-block;
    border: 1px solid $accent_color;
}
/* Mixin used in global classes */
@mixin two_parallel_boxes_layout() {
    width: 50%;
    display: inline-block;
}
@mixin smooth_transition_on_hover() {
   -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s; 
    transition: 0.3s;
}
@mixin buttons_layout() {
    height: 40px;
    width: 200px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    line-height: 40px;
    &:hover {
	@include smooth_transition_on_hover();
	cursor: pointer;
    }
}
/* Define @mixin for specific elements */
@mixin rounded_corners_3() {
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 3px; /* Firefox 1-3.6 */
    border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}
@mixin background_opacity_70 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 8 & 9 */	
    filter: alpha(opacity=70); /* again IE 8 & 9 and 5, 6, 7 */
    -moz-opacity: 0.7; /* Older than Firefox 0.9 */
    -khtml-opacity: 0.7; /* Safari 1.x (pre WebKit!) */
    opacity: 0.7; /* Firefox 0.9+, Safari 2, Chrome, Opera 9+, IE 9+ */
}
@mixin reset_background_opacity {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 & 9 */	
    filter: alpha(opacity=100); /* again IE 8 & 9 and 5, 6, 7 */
    -moz-opacity: 1; /* Older than Firefox 0.9 */
    -khtml-opacity: 1; /* Safari 1.x (pre WebKit!) */
    opacity: 1; /* Firefox 0.9+, Safari 2, Chrome, Opera 9+, IE 9+ */
}

/* Add horizontal smooth transition to everything */
* {
    @include horizontal_rezise();
}

/* Styling header tags */
h1 {
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
}
h4 {
    text-transform: uppercase;
}

/* Styling the header */
header {
    @include basic_layout();
    @include vertical_rezise();
    height: 56.25vw;
    background: url(../img/header/background.jpg) center top no-repeat;
    background-size: cover;
    color: $alt_color;
    /* Styling the sticky navbar */
    & nav {
	@include basic_layout();
	height: 75px;
	background: $basic_color;
	position: fixed;
	top: 0;
	vertical-align: middle;
	z-index: 100;
    }
}
/* Styling logo and elements in it */
#siteLogo {
    padding-top: 17.5px;
    padding-left: 17.5px;
    position: absolute;
    height: 40px;
}
/* Styling main menu */
#mainMenu {
    width: 100%;
    top: 29.5px;
    position: relative;
    display: inline-block;
    & li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	& a{
	    font-size: 18px;
	    font-weight: 400;
	    line-height: 16px;
	    text-transform: uppercase;
	}
    &:hover {
	cursor: pointer;
	}
    }
}
/* Styling "GET TICKETS" button in header */
#getTicketsNav {
    right: 20px;
    position: absolute;
}
/* Styling texts and images on the cover */
#theGreates {
    position: relative;
    top: 8vw;
    display: inline-block;
    & span {
	font-family: Playfair Display;
	color: $alt_color;
	text-align: left !important;
    }
    & #the {
	font-size: 32px;
	padding-left: 60px;
	line-height: 2.5;
    }
    & #gratest {
	font-size: 86px;
	line-height: 0;
    }
    & #shows {
	font-size: 32px;
	padding-left: 60px;
	line-height: 4;
    }
}
#unleash {
    position: relative;
    top: 20vw;
    & button {
	display: inline-block;
	margin: 5px;
    }
    & h1 {
	color: $alt_color;
    }
}
#sponsors {
    position: relative;
    top: 23vw;
    & a {
	height: 30px;
	margin: 0px 10px 20px 10px;
	display: inline-block;
    }
}
#leftSpeaker {
    left: 5%;
    @include speakers_layout();
}
#rightSpeaker {
    right: 8%;
    @include speakers_layout();
}

/* Styling the page content sections and elements in them */
/* Style first section "Future work" */
#futureWork {
    @include basic_layout();
    display: flex;
}
#futureWorkIcons {
    padding-top: 40px;
    padding-bottom: 60px;
    & .animated-icons {
	display: inline-block;
	& i {
	    color: #ccc;
	    font-size: 30px;
	    margin-left: 20px;
	    margin-right: 20px;
	    transition: all 0.3s ease;
	    &:hover {
		-webkit-transform: scale(1.8, 1.8);
		-moz-transform: scale(1.8, 1.8);
		-o-transform: scale(1.8, 1.8);
		transform: scale(1.8, 1.8);
	    }
	}
	&.hover {
	    & .tooltip-content {
		visibility: visible;
	    }
	    & i {
		-webkit-transform: scale(1.8, 1.8);
		-moz-transform: scale(1.8, 1.8);
		-o-transform: scale(1.8, 1.8);
		transform: scale(1.8, 1.8);
		&.icon-eye {
		    color: $eye !important;
		}
		&.icon-gear {
		    color: $gear !important;
		}
		&.icon-home {
		    color: $home !important;
		}
		&.icon-power {
		    color: $power !important;
		}
		&.icon-refresh {
		    color: $refresh !important;
		}
		&.icon-star {
		    color: $star !important;
		}
	    }
	}
    }
}
#futureWorkParagraph {
    margin: 0 auto;
    max-width: 860px;
}
#futureWorkButtons {
    padding-top: 40px;
}
#joinCommunity {
    @include section_buttons();
}
#watchTrailer {
    @include section_buttons();
}


/* Style second section "Mobile App" */
#mobileApp {
    @include basic_layout();
    display: flex;
    background: $basic_content_backgroud; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right top, $accent_content_background, $basic_content_backgroud); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, $accent_content_background, $basic_content_backgroud); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, $accent_content_background, $basic_content_backgroud); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, $accent_content_background, $basic_content_backgroud); /* Standard syntax */
}
#appDownloadImg {
    display: initial;
    margin: auto;
}
#predictiveHire {
	height: 10%;
	float: right;
    }
#appDownloadText {
    margin-top: 20px;
    max-width: 640px;
}
#appDownloadButtons {
	margin-top: 20px;
    & a {
	height: 40px;
	display: inline-block;
	margin: 5px 10px;
    }
}
#tutorials {
    float: none;
    margin: auto;
    vertical-align: middle;
}
#tutorialButton {
    vertical-align: middle;
    margin-top: 40px;
}

/* Styling the page footer */
footer {
    @include basic_layout();
    background: $basic_color;
}
#footerSocialIcons {
    margin: 30px 0px 10px 0px;
    height: 18px;
    & i {
	font-size: 18px;
	margin-left: 5px;
	margin-right: 5px;
    }
}
#footerContactInfo {

}

/* Define global classes */
.text-basic {
    color: $basic_color !important;
}
.text-alt {
    color: $alt_color !important;
}
.text-accent {
    color: $accent_color !important;
}
.text-shadow {
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
}
.alt-text-accent-hover {
    color: $alt_color;
    &:hover {
	color: $accent_color;
    }
}
.accent-button-alt-text-hover {
    @include buttons_layout();
    color: $alt_color;
    background: $accent_color;
    &:hover {
	color: $accent_color;
	background: $alt_color;
    }
}
.alt-button-accent-text-hover {
    @include buttons_layout();
    color: $accent_color;
    background: $alt_color;
    &:hover {
	color: $alt_color;
	background: $accent_color;
    }
}
.alt-button-basic-text-hover {
    @include buttons_layout();
    color: $basic_color;
    background: $alt_color;
    border: 1px solid $alt_color !important;
    &:hover {
	color: $alt_color;
	background: none;
	border: 1px solid $alt_color !important;
    }
}
.header-content-wrapper {
    width: 100%;
    height: inherit;
    padding-top: 70px
}
.section-content-wrapper {
    width: 100%;
    padding: 40px 20px;
}
.footer-content-wrapper {
    width: 100%;
    padding: 20px 20px;
}
.section-left-content {
    @include two_parallel_boxes_layout();
    float: left;
    & div {
	right: 0;
    }
}
.section-right-content {
    @include two_parallel_boxes_layout();
    float: right;
}
.align-content-right {
    width: 90%;
    padding-right: 10px;
    float: right;    
}
.align-content-left {
    padding-left: 10px;
    float: left;  
}
.reset-margin {
    margin: 0;
}
.footer-logo {
    height: 30px;
}

/* Define icons */
@font-face {
    font-family: "fico";
    src: url("../fonts/fico.eot");
    src: url("../fonts/fico.eot?#iefix") format("embedded-opentype"),
	 url("../fonts/fico.woff") format("woff"),
	 url("../fonts/fico.ttf") format("truetype"),
	 url("../fonts/fico.svg#fico") format("svg");
}
.icon {
    &:before {
	font-family: fico;
	font-weight: normal !important;
	font-style: normal !important;
	text-transform: none !important;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
    }
    &:hover {
	@include smooth_transition_on_hover(); 
    }
}
.icon-add:before { content: "\f100"; }
.icon-add-alt:before { content: "\f101"; }
.icon-attachment:before { content: "\f105"; }
.icon-bell:before { content: "\f102"; }
.icon-bookmark:before { content: "\f106"; }
.icon-bubble:before { content: "\f107"; }
.icon-calendar:before { content: "\f135"; }
.icon-camera:before { content: "\f10d"; }
.icon-cart:before { content: "\f108"; }
.icon-chart:before { content: "\f109"; }
.icon-check:before { content: "\f10e"; }
.icon-clock:before { content: "\f10f"; }
.icon-cloud:before { content: "\f110"; }
.icon-creditcard:before { content: "\f136"; }
.icon-cross:before { content: "\f111"; }
.icon-cross-alt:before { content: "\f112"; }
.icon-crosshair:before { content: "\f137"; }
.icon-delete:before { content: "\f113"; }
.icon-delete-alt:before { content: "\f114"; }
.icon-denied:before { content: "\f115"; }
.icon-document:before { content: "\f138"; }
.icon-down:before { content: "\f10a"; }
.icon-edit:before { content: "\f116"; }
.icon-error:before { content: "\f117"; }
.icon-exit:before { content: "\f139"; }
.icon-eye {
    &:before {
	content: "\f118";
    }
    &:hover {
	color: $eye !important;
	cursor: pointer;
    }
}
.icon-facebook {
    &:before {
	content: "\f13a";
    }
    &:hover {
	color: #3b5998 !important;
    }
}
.icon-filter:before { content: "\f119"; }
.icon-flag:before { content: "\f11a"; }
.icon-folder:before { content: "\f13b"; }
.icon-fullscreen:before { content: "\f11b"; }
.icon-gear { 
    &:before {
	content: "\f11c"; 
    }
    &:hover {
	color: $gear !important;
	cursor: pointer;
    }
}
.icon-gift:before { content: "\f13c"; }
.icon-globe:before { content: "\f13d"; }
.icon-grid:before { content: "\f11d"; }
.icon-group:before { content: "\f13e"; }
.icon-heart:before { content: "\f11e"; }
.icon-help:before { content: "\f11f"; }
.icon-home {
    &:before {
	content: "\f120";
    }
    &:hover {
	color: $home !important;
	cursor: pointer;
    }
}
.icon-info:before { content: "\f121"; }
.icon-join:before { content: "\f13f"; }
.icon-left:before { content: "\f103"; }
.icon-list:before { content: "\f122"; }
.icon-location:before { content: "\f123"; }
.icon-lock:before { content: "\f124"; }
.icon-mail:before { content: "\f125"; }
.icon-move:before { content: "\f126"; }
.icon-music:before { content: "\f127"; }
.icon-navigation:before { content: "\f140"; }
.icon-phone:before { content: "\f141"; }
.icon-play:before { content: "\f128"; }
.icon-power {
    &:before {
	content: "\f129"; 
    }
    &:hover {
	color: $power !important;
	cursor: pointer;
    }
}
.icon-print:before { content: "\f142"; }
.icon-refresh {
    &:before { 
	content: "\f12a"; 
    }
    &:hover {
	color: $refresh !important;
	cursor: pointer;
    }
}
.icon-reply:before { content: "\f10b"; }
.icon-right:before { content: "\f104"; }
.icon-rss:before { content: "\f12b"; }
.icon-screen:before { content: "\f143"; }
.icon-share:before { content: "\f12c"; }
.icon-share-alt:before { content: "\f144"; }
.icon-sliders:before { content: "\f12d"; }
.icon-smartphone:before { content: "\f145"; }
.icon-speaker:before { content: "\f146"; }
.icon-split:before { content: "\f147"; }
.icon-star { 
    &:before {
	content: "\f12e"; 
    }
    &:hover {
	color: $star !important;
	cursor: pointer;
    }
}
.icon-tag:before { content: "\f12f"; }
.icon-thumbs-down:before { content: "\f148"; }
.icon-thumbs-up:before { content: "\f149"; }
.icon-trash:before { content: "\f130"; }
.icon-twitter { 
    &:before {
	content: "\f14a";
    }
    &:hover {
	color: #0084b4 !important;
    }
}
.icon-unlock:before { content: "\f14b"; }
.icon-up {
    &:before {
	content: "\f10c"; 
    }
}
.icon-user:before { content: "\f131"; }
.icon-video:before { content: "\f132"; }
.icon-video-alt:before { content: "\f14c"; }
.icon-warning:before { content: "\f133"; }
.icon-wrench:before { content: "\f14d"; }
.icon-zoom:before { content: "\f134"; }

/* Define tooltips */
.tooltip {
    position: relative;
    display: inline-block;
    &:hover .tooltip-content {
	visibility: visible;
    }
    & .tooltip-content {
	font-size: 12px;
	visibility: hidden;
	width: 120px;
	background-color: #eee;
	color: $basic_color;
	text-align: center;
	border-radius: 6px;
	padding: 10px 0px;
	position: absolute;
	z-index: 1;
	bottom: 200%;
	left: 50%;
	margin-left: -60px;
	&.eye-icon {
	    color: $eye !important;
	}
	&.gear-icon {
	    color: $gear !important;
	}
	&.home-icon {
	    color: $home !important;
	}
	&.power-icon {
	    color: $power !important;
	}
	&.refresh-icon {
	    color: $refresh !important;
	}
	&.star-icon {
	    color: $star !important;
	}
	&::after {
	    content: " ";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -10px;
	    border-width: 10px;
	    border-style: solid;
	    border-color: #eee transparent transparent transparent;
	}
    }
}

/* Define specific elements */
#scrollToTop {
    display: none;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $basic_color;
    color: $alt_color;
    font-size: 20px;
    line-height: 50px;
    @include rounded_corners_3();
    @include background_opacity_70();
    &:hover {
	cursor: pointer;
	@include reset_background_opacity();
    }
}

/* Define sizes regarding resolutions */
@media only screen and (min-width: 320px) {
    header {
	height: 250vw;
    }
}
@media only screen and (min-width: 480px) {
    header {
	height: 120vw;
    }
}
@media only screen and (min-width: 600px) {
    header {
	height: 90vw;
    }
}
@media only screen and (min-width: 768px) {
    header {
	height: 80vw;
    }
    #sponsors {
	width: 50%
    }
}
@media only screen and (min-width: 992px) {
}
@media screen and (min-width: 1280px) {
    header {
	height: 56.25vw;
    }
    #sponsors {
	width: 100%
    }
}
@media only screen and (min-width: 1382px) {
    
}